{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Dashboard">
<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<title>DashBoard - Cabañero Ventanas </title>
<!-- Favicons -->
<link href="{% static 'informatica/img/favicon.png' %}" rel="icon">
<link href="{% static 'informatica/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

<!-- Bootstrap core CSS -->
<link href="{% static 'informatica/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!--external css-->
<link href="{% static 'informatica/lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'informatica/css/zabuto_calendar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'informatica/lib/gritter/css/jquery.gritter.css' %}" />
<!-- Custom styles for this template -->
<link href="{% static 'informatica/css/style.css' %}" rel="stylesheet">
<link href="{% static 'informatica/css/style-responsive.css' %}" rel="stylesheet">
<script src="{% static 'informatica/lib/chart-master/Chart.js' %}"></script>

<link href="{% static 'packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'packages/daygrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'packages/timegrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'packages/list/main.css' %}" rel='stylesheet' />
<script src="{% static 'packages/core/main.js' %}"></script>
<script src="{% static 'packages/interaction/main.js' %}"></script>
<script src="{% static 'packages/daygrid/main.js' %}"></script>
<script src="{% static 'packages/timegrid/main.js' %}"></script>
<script src="{% static 'packages/list/main.js' %}"></script>



<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      height: 'parent',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      defaultView: 'dayGridMonth',
      defaultDate: '2019-08-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'Fuera todo el dia',
          start: '2019-08-01',
        },
        {
          title: 'Evento Largo',
          start: '2019-08-07',
          end: '2019-08-10'
        },
        {
          groupId: 999,
          title: 'Evento repetido',
          start: '2019-08-09T16:00:00'
        },
        {
          groupId: 999,
          title: 'Evento repetido',
          start: '2019-08-16T16:00:00'
        },
        {
          title: 'Conferencia',
          start: '2019-08-11',
          end: '2019-08-13'
        },
        {
          title: 'Salida',
          start: '2019-08-12T10:30:00',
          end: '2019-08-12T12:30:00'
        },
        {
          title: 'Pvst revisar',
          start: '2019-08-12T12:00:00'
        },
        {
          title: 'Reunión Preference',
          start: '2019-08-12T14:30:00'
        },
        {
          title: 'Llamar a Carlos',
          start: '2019-08-12T17:30:00'
        },
        {
          title: 'Comida',
          start: '2019-08-12T20:00:00'
        },
        {
          title: 'Reunión Produccion',
          start: '2019-08-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2019-08-28'
        }
      ]
    });

    calendar.render();
  });

</script>
<style>

  html, body {
    overflow: hidden; /* don't do scrollbars */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .fc-header-toolbar {
    /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

</style>
</head>
<body>
    <section id="container">
      <!--header start-->
      <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>CABA<span>ÑERO</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-tasks"></i>
              <span class="badge bg-theme">4</span>
              </a>
            <ul class="dropdown-menu extended tasks-bar">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">Tienes 4 tareas pendientes</p>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Panel de control</div>
                    <div class="percent">40%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Base de datos Actualizada</div>
                    <div class="percent">60%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="sr-only">60% Complete (warning)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Desarrollo de Productos</div>
                    <div class="percent">80%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Completado</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Resoluciones de problemas</div>
                    <div class="percent">70%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                      <span class="sr-only">70% Complete (Important)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="external">
                <a href="#">Ver todas las tareas</a>
              </li>
            </ul>
          </li>
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-theme">5</span>
              </a>
            <ul class="dropdown-menu extended inbox">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">Tienes 5 nuevos mensajes</p>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="{% static 'informatica/img/ui-zac.jpg' %}"></span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">ahora mismo</span>
                  </span>
                  <span class="message">
                  Eyyy Tio, como va todo?
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="{% static 'informatica/img/ui-divya.jpg' %}"></span>
                  <span class="subject">
                  <span class="from">Rosda Forriol</span>
                  <span class="time">40 mins.</span>
                  </span>
                  <span class="message">
                  Hola, tengo un problemilla.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="{% static 'informatica/img/ui-danro.jpg' %}"></span>
                  <span class="subject">
                  <span class="from">Juan Moreno</span>
                  <span class="time">2 hrs.</span>
                  </span>
                  <span class="message">
                  Que tal el fin de semana?.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="{% static 'informatica/img/ui-sherman.jpg' %}"></span>
                  <span class="subject">
                  <span class="from">Alberto López</span>
                  <span class="time">4 hrs.</span>
                  </span>
                  <span class="message">
                  Por favor, mira lo mio.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">Ver todos los mensajes</a>
              </li>
            </ul>
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">7</span>
              </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">Tienes 7 notificaciones</p>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  El servidor está sobrecargado.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-warning"><i class="fa fa-bell"></i></span>
                  Puesto03 sin respuesta.
                  <span class="small italic">30 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Puesto06 espacio en disco 90%.
                  <span class="small italic">2 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-success"><i class="fa fa-plus"></i></span>
                  Nuevo usuario registrado.
                  <span class="small italic">3 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">Ver todas las notificaciones</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
      </header>
      <!--header end-->
      <section id="main-content">
        <div id='calendar-container'>
        <div id='calendar'></div>
        </div>
      </section>
    </section> 

</body>
</html>
