{% extends "informatica/base.html" %}
{% block content %}
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> Tareas</h3>
      <!-- SORTABLE TO DO LIST -->
      <div class="row mt mb">
        <div class="col-md-12">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">
              <div class="pull-left">
                <h5><i class="fa fa-tasks"></i> Hoy</h5>
              </div>
              <br>
            </div>
            <div class="panel-body">
              <div class="task-content">
                <ul id="sortable" class="task-list">
                  <li class="list-primary">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Informatico: Elementos Enviados</span>
                      <span class="badge bg-theme">Normal</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-danger">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">INFORMATICO: Logo unificado para whatsapp</span>
                      <span class="badge bg-warning">Alta</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-success">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">INFORMATICO: Instalar Oficce 2013 a Alberto.</span>
                      <span class="badge bg-success">Baja</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-warning">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">INFORMATICO: Teléfono Movil</span>
                      <span class="badge bg-info">Normal</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-info">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">INFORMATICO: No puedo imprimir en la nueva base de datos.</span>
                      <span class="badge bg-important">Urgente</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class=" add-task-row">
                <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Add Nueva Tarea</a>
                <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">Ver todas las Tareas</a>
              </div>
            </div>
          </section>
        </div>
        <!--/col-md-12 -->
      </div>
      <!--  row -->
      <!-- SORTABLE TO DO LIST -->
      <div class="row mt mb">
        <div class="col-md-12">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">
              <div class="pull-left">
                <h5><i class="fa fa-tasks"></i> Mañana</h5>
              </div>
              <br>
            </div>
            <div class="panel-body">
              <div class="task-content">
                <ul id="sortable" class="task-list">
                  <li class="list-primary">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">INFORMATICO: Revisar configuración del correo</span>
                      <span class="badge bg-theme">Normak</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-danger">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">INFORMATICO: Cambiar permisos en Organización</span>
                      <span class="badge bg-warning">Alta</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-success">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">INFORMATICO:Revisar copia de seguridad</span>
                      <span class="badge bg-success">Baja</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-warning">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="yes" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">INFORMATICO: Problemas con el IE</span>
                      <span class="badge bg-info">Normal</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-info">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="0" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">INFORMATICO: No puedo mandar correos</span>
                      <span class="badge bg-important">Urgente</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class=" add-task-row">
                <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Add New Tasks</a>
                <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>
              </div>
            </div>
          </section>
        </div>
        <!--/col-md-12 -->
      </div>
      <!-- /row -->
      <!-- SORTABLE TO DO LIST -->
      <div class="row mt mb">
        <div class="col-md-12">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">
              <div class="pull-left">
                <h5><i class="fa fa-tasks"></i> Miercoles 3 de Junio de 2019</h5>
              </div>
              <br>
            </div>
            <div class="panel-body">
              <div class="task-content">
                <ul id="sortable" class="task-list">
                  <li class="list-primary">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Dashio - Admin Panel & Front-end Theme</span>
                      <span class="badge bg-theme">Done</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-danger">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Extensive collection of plugins</span>
                      <span class="badge bg-warning">Cool</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-success">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Free updates always, no extra fees.</span>
                      <span class="badge bg-success">2 Days</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-warning">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">More features coming soon</span>
                      <span class="badge bg-info">Tomorrow</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-info">
                    <i class=" fa fa-ellipsis-v"></i>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="" />
                    </div>
                    <div class="task-title">
                      <span class="task-title-sp">Hey, seriously, you should buy this Dashboard</span>
                      <span class="badge bg-important">Now</span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs fa fa-check"></button>
                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class=" add-task-row">
                <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Add New Tasks</a>
                <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>
              </div>
            </div>
          </section>
        </div>
        <!--/col-md-12 -->
      </div>
      <!-- /row -->
    </section>

{% endblock content %}